:root {
    --pink: #ce0033;
    --grey: #eeeeee;
    --white: #ffffff;
    --black: #000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  .contenuInitiation{
    /* align-items: center; */
    text-align: center;
    padding-bottom: 5vh;
  }
  .blocButtonIn{
    gap: 9vh;
    padding: 5vh;
    justify-content: center;
    
  } 
  .blocButtonIn :hover{
    /* background-color: var(--grey); */
    /* gap: 9vh;
    padding: 5vh;
    justify-content: center; */
  } 
  .blockcard{
    padding-bottom: 5vh;
    padding-left: 20vh;
  }

  .reskButtonIn{
    background-color: var(--pink);
    gap: 9vh;
    width: 20%;
    height: 5vh;
    border-radius: 20px;
    /* border: 5px solid !Important; */

  }
  .btn-danger  {
    background-color: var(--grey) ;
    border: 2px solid;
    /* gap: 9vh;
    width: 20%;
    height: 5vh;
    border-radius: 20px; */
  }
.buttonColor{
  color: var(--white)  !important;
  font-weight: 900; 

}
.img-fluid{
  height: 100%;
}
#buttonColor1 {
  color: var(--black) !important;
}