:root {
    --pink: #ce0033;
    --grey: #eeeeee;
    --white: #ffffff;
    --black: #000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
  }
  .contenuUpskil{
    /* align-items: center; */
    text-align: center;
    padding-bottom: 5vh;
  }
  .blocButtonUps{
    gap: 9vh;
    padding: 5vh;
  }

  .reskButtonUps{
    background-color: var(--pink);
    gap: 9vh;
    width: 20%;
    height: 5vh;
    border-radius: 20px;
  }
