:root {
    --pink: #ce0033;
    --grey: #eeeeee;
    --white: #ffffff;
    --black: #000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
  }
  .contenuUpskil{
    /* align-items: center; */
    text-align: center;
    padding-bottom: 5vh;
   
      background-color: var(--grey)!important;
    
  }
  .blocButtonUps{
    gap: 9vh;
    padding: 5vh;
  }
  .img-fluid{
    height: 100%;
    padding-right: 7.5vh;
  }
  .reskButtonUps{
    background-color: var(--pink);
    gap: 9vh;
    width: 20%;
    height: 5vh;
    border-radius: 20px;
  }

  .btn-danger  {
    background-color: var(--grey) ;
    /* border: 2px solid; */
    /* gap: 9vh;
    width: 20%;
    height: 5vh;
    border-radius: 20px; */
  }
.buttonColor{
  color: var(--white);
  font-weight: 900;
  /* border: 2px solid; */

}
.blockcard{
  padding-bottom: 5vh;
  padding-left: 20vh;
}