:root {
    --pink: #ce0033;
    --grey: #eeeeee;
    --white: #ffffff;
    --black: #000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .fixed{
      position: fixed;
      top: 0;
  }
  
  #progress{
    background-color: var(--pink);
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 3;
  }
  
  #progressValue{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: var(--pink);
    font-weight: bold;
  }
  
  .menuTogler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  .dropDownMenu {
    position: absolute;
    top: 150px;
    right: 25px;
    height: 0;
    width: 300px;
    background-color: rgba(146, 18, 18, 0.199);
    backdrop-filter: blur(15px);
    overflow: hidden;
    /* display: none; */
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropDownMenu ul {
    display: flex;
    flex-direction: column;
  }
  
  .open {
    height: 550px;
  }
  
  header {
    height: 20vh;
    width: 100%;
    /* border: 2px solid red; */
  }
  
  .headerContainer {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
  }
  
  .info-container-black {
    background-color: var(--black);
    width: 100%;
    height: 25%;
  }
  
  .info-container {
    /* padding: 1%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 100%;
    color: var(--white);
    margin: 0 auto;
  }
  
  .participation {
    font-size: 0.8em;
    /* border: 1px solid #ccc; */
    width: 30%;
  }
  
  .participation span {
    margin-left: 10px;
  }
  
  .info-container .address {
    /* border: 1px solid #ccc; */
    width: 35%;
    display: flex;
    justify-content: space-between;
  }
  
  .address p {
    color: var(--white);
  }
  
  .address p a {
    color: var(--white);
    margin-left: 5px;
  }
  
  .navMiddle-bg {
    background-color: var(--grey);
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .navMiddleContainer {
    /* border: 2px solid; */
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navMiddleContainer .logo {
    width: 10%;
    height: 60%;
  }
  
  .navMiddleContainer .logo img {
    width: 100%;
    height: 100%;
  }
  
  .navMiddleContainer .search {
    /* border: 1px solid; */
    height: 50%;
    width: 20%;
    margin-left: -21%;
  }
  
  .navMiddleContainer .search input {
    height: 100%;
    width: 85%;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  
  .navMiddleContainer .search button {
    width: 15%;
    height: 100%;
    border: none;
    background-color: var(--pink);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .navMiddleContainer .rightNavitem {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  
  .navMiddleContainer .rightNavitem ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .navMiddleContainer .rightNavitem ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
  }
  
  .navMiddleContainer .rightNavitem ul li a:hover {
    color: var(--pink);
  }
  
  .menu-bg {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 3;
  }
  
  .menu {
    /* border: 1px solid; */
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
  }
  
  .menu ul {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red */
  }
  
  /* .menu ul li {
    border: 2px solid;
  } */
  
  .menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: 500;
    position: relative;
  }
  
  /* .menu ul li a::after {
      content: "";
      width: 0;
      border: 1px solid;
      position: absolute;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(1);
      transition: transform 0.3s ease-in-out;
    }
    
    .menu ul li a:hover::after {
      width: 50px;
      transform: scaleX(0);
      transform-origin: right;
    } */
  
  .menu ul li a:hover {
    color: var(--pink);
  }
  
  .banner {
    /* border: 1px solid; */
    height: 60vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bannerOpacity {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logoBanner {
    color: var(--white);
    font-size: 3em;
    /* font-weight: bold; */
  }
  
  .logoBanner span {
    color: var(--pink);
  }
  
  .logoBanner span::after {
    content: ":";
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: -7.5px;
    right: 20.5px;
    width: 0;
  }
  
  .logoBanner img {
    width: 100%;
    height: 100%;
  }
  
  .textBanner {
    color: White;
    font-size: 2em;
    width: 60%;
    text-align: center;
  }





/* **************************mediaQueries header*********************** */
@media Screen and (max-width: 767px) {
    header {
      height: 20vh;
      width: 100%;
      /* border: 2px solid red; */
    }
  
    .headerContainer {
      width: 100%;
      height: 100%;
    }
  
    .info-container-black {
      background-color: var(--black);
      width: 100%;
      height: 40%;
    }
  
    .info-container {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      width: 98%;
      height: 100%;
      color: var(--white);
      /* margin: 0 auto; */
    }
  
    .participation {
      font-size: 0.8em;
      /* border: 1px solid #ccc; */
      width: 100%;
    }
  
    .participation span {
      margin-left: 10px;
    }
  
    .info-container .address {
      /* border: 1px solid #ccc; */
      width: 100%;
      display: flex;
      justify-content: start;
    }
  
    .address p {
      color: var(--white);
    }
  
    .address p a {
      color: var(--white);
      margin-left: 5px;
    }
  
    .navMiddle-bg {
      background-color: var(--grey);
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  
    .navMiddleContainer {
      /* border: 2px solid; */
      width: 98%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .navMiddleContainer .logo {
      width: 20%;
      height: 30%;
    }
  
    .navMiddleContainer .logo img {
      width: 100%;
      height: 100%;
    }
  
    .navMiddleContainer .search {
      /* border: 1px solid; */
      height: 40%;
      width: 30%;
    }
  
    .menuTogler {
      display: block;
      cursor: pointer;
    }
  
    .navMiddleContainer .search input {
      height: 100%;
      width: 85%;
      border: none;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  
    .navMiddleContainer .search button {
      width: 15%;
      height: 100%;
      border: none;
      background-color: var(--pink);
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    .navMiddleContainer .rightNavitem {
      /* border: 1px solid red; */
      width: 25%;
      display: flex;
      align-items: center;
      display: none;
      /* justify-content: center; */
    }
  
    .navMiddleContainer .rightNavitem ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  
    .navMiddleContainer .rightNavitem ul li a {
      color: var(--black);
      text-decoration: none;
      font-size: 0.9em;
      font-weight: 600;
    }
  
    .navMiddleContainer .rightNavitem ul li a:hover {
      color: var(--pink);
    }
  
    .menu-bg {
      height: 30%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .menu {
      /* border: 1px solid; */
      height: 100%;
      width: 98%;
      display: flex;
      align-items: center;
      display: none;
    }
  
    .banner{
      font-size: 0.9em;
    }
  
    footer{
      height: 120vh;
  }
  
  footer .footerTop{
      /* border: 2px solid; */
      width: 80%;
      height: 90%;
      margin: 3% auto !important;
      display: flex;
  }
  
  footer .footerTop .footerTopItems{
      display: flex;
      flex-direction: column;
  }
  
  footer .footerTop .footerTopItems .footerTopItem1{
      /* border: 1px solid; */
      width: 100%;
      height: 100%;
  }
  
  footer .footerTop .footerTopItems .footerTopItem2{
      /* border: 1px solid; */
      width: 100%;
      height: 100%;
      margin-bottom: 40px;
  }
  
  footer
    .footerTop
    .footerTopItems
    .footerTopItem1
    .footerTopItem1Info
    .footerTopItem1Infoitem {
    height: 90%;
    display: flex;
    /* border: 2px solid red; */
    margin-top: 3%;
  }
  
  }
  
  /* **************************mediaQueries header*********************** */
  @media Screen and (min-width:768px) and (max-width: 1023px) {
    header {
      height: 20vh;
      width: 100%;
      /* border: 2px solid red; */
    }
  
    .headerContainer {
      width: 100%;
      height: 100%;
    }
  
    .info-container-black {
      background-color: var(--black);
      width: 100%;
      height: 40%;
    }
  
    .info-container {
      display: flex;
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      width: 98%;
      height: 100%;
      color: var(--white);
      /* margin: 0 auto; */
    }
  
    .participation {
      font-size: 0.8em;
      /* border: 1px solid #ccc; */
      width: 100%;
    }
  
    .participation span {
      margin-left: 10px;
    }
  
    .info-container .address {
      /* border: 1px solid #ccc; */
      width: 100%;
      display: flex;
      justify-content: start;
    }
  
    .address p {
      color: var(--white);
    }
  
    .address p a {
      color: var(--white);
      margin-left: 5px;
    }
  
    .navMiddle-bg {
      background-color: var(--grey);
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  
    .navMiddleContainer {
      /* border: 2px solid; */
      width: 98%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .navMiddleContainer .logo {
      width: 20%;
      height: 30%;
    }
  
    .navMiddleContainer .logo img {
      width: 100%;
      height: 100%;
    }
  
    .navMiddleContainer .search {
      /* border: 1px solid; */
      height: 40%;
      width: 30%;
    }
  
    .menuTogler {
      display: block;
      cursor: pointer;
    }
  
    .navMiddleContainer .search input {
      height: 100%;
      width: 85%;
      border: none;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
  
    .navMiddleContainer .search button {
      width: 15%;
      height: 100%;
      border: none;
      background-color: var(--pink);
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  
    .navMiddleContainer .rightNavitem {
      /* border: 1px solid red; */
      width: 25%;
      display: flex;
      align-items: center;
      display: none;
      /* justify-content: center; */
    }
  
    .navMiddleContainer .rightNavitem ul {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  
    .navMiddleContainer .rightNavitem ul li a {
      color: var(--black);
      text-decoration: none;
      font-size: 0.9em;
      font-weight: 600;
    }
  
    .navMiddleContainer .rightNavitem ul li a:hover {
      color: var(--pink);
    }
  
    .menu-bg {
      height: 30%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .menu {
      /* border: 1px solid; */
      height: 100%;
      width: 98%;
      display: flex;
      align-items: center;
      display: none;
    }
  
    .banner{
      font-size: 0.9em;
    }
  
    footer{
      height: 120vh;
  }
  
  footer .footerTop{
      /* border: 2px solid; */
      width: 80%;
      height: 90%;
      margin: 3% auto !important;
      display: flex;
  }
  
  footer .footerTop .footerTopItems{
      display: flex;
      flex-direction: column;
  }
  
  footer .footerTop .footerTopItems .footerTopItem1{
      /* border: 1px solid; */
      width: 100%;
      height: 100%;
  }
  
  footer .footerTop .footerTopItems .footerTopItem2{
      /* border: 1px solid; */
      width: 100%;
      height: 100%;
      margin-bottom: 40px;
  }
  
  footer
    .footerTop
    .footerTopItems
    .footerTopItem1
    .footerTopItem1Info
    .footerTopItem1Infoitem {
    height: 90%;
    display: flex;
    /* border: 2px solid red; */
    margin-top: 3%;
  }
  
  }